spring:
  application:
    name: course-service
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://mysql:3306/course_management?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true&characterEncoding=utf8&useUnicode=true}
    username: ${SPRING_DATASOURCE_USERNAME:valkyrie}
    password: ${SPRING_DATASOURCE_PASSWORD:2501005}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  cloud:
    nacos:
      discovery:
        server-addr: nacos:8848
        group: COURSEHUB_GROUP
        ephemeral: true
        heart-beat-interval: 5000
        heart-beat-timeout: 15000
        register-enabled: true
        watch-delay: 30000

logging:
  level:
    com.valkyrie.course: INFO
    org.springframework: WARN
    org.hibernate: WARN

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

spring.cloud.discovery.enabled: true
spring.cloud.nacos.discovery.enabled: true